<!DOCTYPE html>
<html>
<head>
  <title>Chat bot blue</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_link_tag    "chat_bot_blue/application", media: "all" %>
  <%= javascript_include_tag "chat_bot_blue/application" %>
</head>
<body>

<%= yield %>

</body>
</html>
